* {
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15; /* Correct the line height in all browsers */
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
  font-family: -apple-system, BlinkMacSystemFont, Inter, 'SF Pro Text', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body {
  background-color: lightsteelblue;
  height: 100vh;
}

/* Head Start */
.w {
  width: 100%;
  margin: auto;
}
.head {
  width: 100%;
  height: 120px;
  background-color: #092c74;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo img {
  height: 85px;
  line-height: 100px;
  cursor: pointer;
}

.logo {
  margin-right: 1.5rem;
  float: left;
}

.nav {
  position: relative;
  float: left;
  font-size: 22px;
  color: #ccc;
}
/* .nav ul li {
    float: left;
    margin-top: 50px;
}

.nav ul li a{
    display: block;
    padding: 0 10px;
    margin-bottom: 2px;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:white;
}
.nav ul li a:hover{
    color:orangered;

} */
/* Head End */

/* Search Bar Start */
.search {
  position: relative;
  display: flex;
  margin-left: 0.8rem;
  overflow: hidden;
  border-radius: 8px;
}

#searchbox {
  height: 24px;
  min-width: 12rem;
  border-left: 0ex;
  padding: 8px;
  color: #999;
  border: none;
  outline: none;
}

.search .search_btn {
  display: inline-block;
  /* float: left; */
  width: 42px;
  background-color: #0099ff;
  outline: none;
  border: none;
  cursor: pointer;
}

.row-group {
  display: flex;
  align-items: center;
}

/* Search Bar end */

/* Autocomplete starts */
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/* Autocomplete ends */

/* About button starts */
.about a {
  display: block;
  padding: 0 10px;
  margin-left: 20px;
  margin-bottom: 2px;
  text-decoration: none;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  color: #cccccc;
}
.about a:hover {
  border-bottom: 2px solid #00a4ff;
}
.about {
  float: left;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
/* About button ends */

/* Subnav Start */
.subnav {
  height: 40px;
  background-color: #88aaec;
}
/* .subnav .menu ul li a{
    display: block;
    padding: 0 10px;
    margin-bottom: 2px;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:white;
}

.subnav ul li{
    float: left;
    margin-top: 7px;
}

.subnav ul li a:hover{
    border-bottom: 3px solid blue
}

.subnav ul{
    margin-left: 10px
} */
/* Subnav End */

main {
  position: relative;
  display: flex;
  flex-flow: row;
  height: calc(100vh - 120px);
}
main .total_case {
  margin: 8px;
  padding: 0.5rem;
}

main .geodata {
  padding: 0.5rem;
  flex: 1;
  margin: 0 8px 8px 8px;
}

.gauge {
  overflow: auto;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

/* Banner end */




/* Confirmed Data Start*/

.stats-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 340px;
}
.geodata caption {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px rgba(99, 96, 96, 0.863) solid;
}
.geodata .compare_btn {
  float: right;
  margin-right: 10px;
}

#total-count {
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  padding: 0.8rem;
}
/* .geodata table{
    width: 390px;
    height: 390px;
    padding: 0 5px;
    margin: 0 5px;
    border-bottom: 1px rgba(99, 96, 96, 0.863) solid;
    color:rgb(243, 235, 235);
} */
/* .geodata #j_tb{
    overflow:auto;
    text-align: center;
    border-right: 1px rgba(99, 96, 96, 0.863) solid;
} */
table#corona_tb {
  width: 100%;
}
table#corona_tb thead,
table#corona_tb tbody {
  float: left;
  width: 100%;
}
table#corona_tb tbody {
  overflow: auto;
}

table#corona_tb tr {
  width: 100%;
  height: 40px;
  display: table;
  /* Keeping the texts of both thead and tbody in same alignment */
  text-align: center;
}

#corona_tb input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

table#corona_tb th,
table#corona_tb td {
  width: 30%;
}
table#corona_tb tr > td:last-child {
  /* removing fraction of width i.e 2% to align the tbody columns with thead columns. */
  /* It is must as we need to consider the tbody scroll width too */
  /* if the width is in pixels, then (width - 18px) would be enough */
  width: 10%;
}
/** for older browsers (IE8), if you know number of columns in your table **/
table#corona_tb tr > td:first-child + td + td {
  width: 30%;
}
.bg {
  background-color: #ccc;
}
/* Confirmed Data End */

/* General Chart Start */
main .chart {
  flex-grow: 2;
  text-align: center;
  margin: 8px 8px 8px 0;
}
/* click  Start */
/* <h1 style='text-align: center; margin-top: 5px'>Confirmed / Predicted Trend</h1>  */

/* .chart .all li{
    float: left;
    margin-left: 15px;
    background-color: #ccc;
}
.chart .all a{
    display: inline-block;
    height: 38px;
    border: 1px solid #3e535e;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #121414;
    padding: 5px;
}
.chart .all a:hover{
    background-color: #00a4ff;
    color: white;
} */

/* click Button End */

/* Chart tab Start */
.chart .tab_list {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}
.chart .tab_list .current {
  background-color: #1b3e86;
  color: white;
}
.chart .tab_list li {
  float: left;
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}
/* Chart tab End */

/* Chart tab content Start */
.chart .tab_cont {
  display: block;
  background-color: #fff;
}
/* Chart tab content End */

/* Fixed chart legend size */
.u-legend {
  height: 30px;
  position: absolute;
  top: 20px;
  left: 64px;
  text-align: left;
}

/* Reposition legend to top left of graph */
.uplot {
  position: relative;
}

.u-series {
  display: table-row;
  line-height: 1;
}
.u-series th {
  display: table-cell;
}

/* General Chart End */
